[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
omise = "*"
python-dotenv = "*"
py-money = "*"
gunicorn = "*"
flask-talisman = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
